* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", sans-serif;
}
 h2 {
  font-size: 1vw;
  color: #ef6d58;
  font-weight: 500;
  letter-spacing: 0.2vw;
  margin-bottom: 2.5vw;
  
}
  h1 {
  font-size: 6vw;
  margin-bottom: 2.5VW;
}

  p {
  font-size: 1.4vw;
  line-height: 2.5vw;
  margin-bottom: 2.5vw;
  
}

   .paragraph {
  font-size: 1vw;
  color: #391400a3;
  
}

  .read_more{
    font-size: 1.2vw;
  }

  button {
  background-color: #404351;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8vw;
  padding: 0.75vw 1.5vw;
  border: 1px solid #505461;
  border-radius: 0.375vw;
  cursor: pointer;
  transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
  width: auto;
}

 .button{
  margin-bottom: 4.5vw;
 }

h3 {
  font-size: 5vw;
}

h4 {
  font-size: 3.4vw;
}

h5 {
  font-size: 1.5vw;
}

img {
}

.modern_Image {
  width: 90vw;
}

.clients img {
  width: 10vw;
}

.about_Image {
  width: 50vw;
}

.video_Image {
  width: 50vw;
}

.features_Image {
  width: 50vw;
}
.circular_image {
}


.navbar {
    background-color: #292c3a;
    padding: 1vw;
    position: sticky;
    top: 0;
    z-index: 50;

}

.navbarContent {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logoLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.logoLink img {
    width: 3vw;
    height: 3vw;
}

.logoText {
    color: #ffffff;
    font-size: 1.5rem;
}

.navList {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.navLink {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}

.contactBtn:hover {
    background-color: #505461;
}

.mobileToggle {
    display: none;
    align-items: center;
}

.toggleBtn {

    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: rgba(255, 255, 255, 0.8);
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

.toggleBtn:hover {
    color: #ffffff;
    background-color: #35394b;
}

.mobileToggle .fa-bars,
.mobileToggle .fa-xmark {
    font-size: 2rem;
}

.itIsHidden {
    display: none;
}

.mobileNav {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;
}

.menuHidden {
    max-height: 0;
    opacity: 0;
}

.menuVisible {
    max-height: 500px;
    opacity: 1;
}

.mobileNavContent {
    padding: 0.5rem 0.5rem 0.75rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.mobileNavLink {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 0;
    border-radius: 0.375rem;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

.mobileNavLink:hover {
    background-color: #35394b;
    color: #ffffff;
}

.mobileContact {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.mobileContact .contactBtn {
    width: 100%;
}
main {
  background-color: #292c3a;
}

.content {
  padding: 5vw;
  gap: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content h1 {
  color: white;
}

.content p {
  color: #ffffffa3;
}


.content .work {
  background-color: #ef6d58;
}

.content .contact {
  border: none;
  background-color: transparent;
}

.meta {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.meta p {
 margin-bottom:0VW;
 line-height: 1.5vw;
}

.clients {
  padding: 1.5vw;
  background-color: #fdf0e9;
  overflow: hidden;
}

.slider {
  display: inline-flex;
  gap: 10vw;
  width: max-content;
  transform: translateX(-50%);
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.about {
  padding: 1vw;
  background-color: #fdf0e9;
}

.about h1 {
  color: #292c3a;
}

.about p {
  color: #292c3a;
}

.aboutUs {
  background-color: #ffffff;
  color: black;
}

.numbers {
  /* padding: 5vw; */
  background-color: #fdf0e9;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width:100%; */
}

.numbers div {
  border: 1px solid #f3d1bf;
  padding: 2.5vw 13.5vw 2.5vw 4vw;
}

.numbers p {
  margin-top: 0.5vw;
}

.howWeWork {
  padding: 6vw;
  background-color: #fdf0e9;
  display: flex;
  align-items: center;
  gap: 18vw;
}

.howWeWork h3 {
  font-family: sans-serif;
}

.howWeWork .how {
  width: 40vw;
}

.howWeWork .read {
  width: 60;
}

.howWeWork .read div {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.readMore {
  padding-left: 0;
  color: #292c3a;
  border: none;
  background-color: transparent;
}

.features ul {
  list-style: none;
  padding-left: 0;
  margin-top: 2vw;
}

.features ul li {
  background: url("images/check.svg") no-repeat left center;
  background-size: 2.5vw;

  padding-left: 3.5vw;
  margin-bottom: 1vw;
  font-size: 1.2vw;
  line-height: 2.8vw;
}
.features_Two {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5vw;
  padding: 4vw 6vw;
  background-color: #fdf0e9;
}

/* Left Content */
.long {
}

.long h2 {
}

.long p {
}

.readMore {
  color: #391400;
  font-size: 1vw;
  border: none;
  background: transparent;
  margin-top: 1vw;
  cursor: pointer;
}

.features_Two {
  display: flex;
  align-items: center;
}
.features-cards {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 2.5vw;
  border: 3px solid #f3d1bf;
  display: flex;
  flex-direction: column;
}
.card.light {
  height: 9.5vw;
  background-color: transparent;
  border: 3px solid #f3d1bf;
}

.icon-wrap {
  position: relative;
  width: 4.5vw;
  height: 4.5vw;
  margin-bottom: 3vw;
}

.icon-bg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f1766a;
  display: block;
}

.icon-front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.25vw;
  height: 2.25vw;
}
.service_two{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.service_two_card{
  display: flex;
}


@media (max-width: 1250px) {
  button {
    font-size: 1.1vw;
    padding: 0.75vw 1.5vw;
    border-radius: 0.375rem;
    width: auto;
  }

  p {
    font-size: 1.7vw;
  }

  .paragraph {
    font-size: 1.3vw;
  }

  h2 {
    font-size: 1.6vw;
  }

  h3 {
    font-size: 4.7vw;
  }

  h5 {
    font-size: 1.4vw;
  }

  .modern_Image {
    width: 35vw;
  }

  .about_Image {
    width: 49vw;
  }

  .clients img {
    width: 10vw;
  }

  .video_Image {
    width: 49vw;
  }

  .features_Image {
    width: 49vw;
  }

  .meta p {
    margin-top: 0vw;
    margin-bottom: 0vw;
  }

  .numbers div {
    padding: 3vw 12vw 3vw 3vw;
  }
}

@media (max-width: 1050px) {
  button {
    font-size: 1.5vw;
    padding: 1vw 2vw;
    border-radius: 0.375rem;
    width: auto;
  }

  h3 {
    font-size: 5vw;
  }

  h5 {
    font-size: 1.4vw;
  }

  p {
    font-size: 2vw;
  }

  .paragraph {
    font-size: 1.6vw;
  }

  .modern_Image {
    width: 40vw;
  }

  .clients img {
    width: 10vw;
  }

  .about_Image {
    width: 45vw;
  }

  .video_Image {
    width: 45vw;
  }

  .features_Image {
    width: 45vw;
  }

  .navList {
    display: none;
  }

  .desktopContact .contactBtn {
    display: none;
  }

  .mobileToggle {
    display: flex;
    align-items: center;
  }

  .logoLink img {
    width: 5vw;
    height: 5vw;
  }

  .numbers div {
    padding: 3vw 9.5vw 3vw 3vw;
  }

  .features ul li {
    font-size: 1.7vw;
  }
}

@media (max-width: 750px) {
  button {
    font-size: 3vw;
    padding: 2vw 3.5vw;
    border-radius: 0.375rem;
    width: auto;
  }

  p {
    font-size: 3.8vw;
    line-height: 5vw;
  }

  .paragraph {
    font-size: 3vw;
    line-height: 5vw;
  }

  h1 {
    font-size: 15vw;
    line-height: 16vw;
  }

  h2 {
    margin-bottom: 1.5vw;
    font-size: 3vw;
  }

  h3 {
    font-size: 11.8vw;
  }

  h4 {
    font-size: 9vw;
    margin-top: 2vw;
  }

  h5 {
    font-size: 4vw;
  }

  .modern_Image {
    width: 90vw;
  }

  .clients img {
    width: 15vw;
  }

  .about_Image {
    width: 80vw;
  }

  .video_Image {
    width: 88vw;
  }

  .features_Image {
    width: 80vw;
  }

  .logoLink img {
    width: 8vw;
    height: 8vw;
  }

  .content {
    padding: 5vw;
    gap: 3vw;
    display: block;
    /* flex-direction: column-reverse; */
    /* text-align: center;  */
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .content p {
    margin-bottom: 5vw;
    margin-top: 5vw;
  }

  .meta {
    display: inline-flex;
    align-items: center;
    gap: 2vw;
    margin: 2vw auto;
  }

  .meta p {
    margin-top: 0vw;
    margin-bottom: 0vw;
  }

  .clients {
    padding: 1.5vw;
    background-color: #fdf0e9;
    display: block;
  }

  .numbers {
    margin-top: -1vw;
    padding: 5vw;
    padding-top: 10vw;

    display: block;
  }

  .numbers div {
    border: 1px solid #f3d1bf;
    padding: 10vw 5vw 10vw 12vw;
  }

  .howWeWork {
    padding: 6vw;

    background-color: #fdf0e9;
    display: block;
    align-items: center;
    justify-content: center;
    /* gap:18vw; */
  }

  .howWeWork .how {
    width: 90vw;
    margin-bottom: 15vw;
  }

  .howWeWork .read {
    width: 90;
  }

  .howWeWork .read div {
    display: flex;
    align-items: center;
    gap: 6vw;
  }

  .features ul li {
    background-size: 5vw;
    padding-left: 6vw;
    margin-bottom: 1vw;
    font-size: 2.8vw;
    line-height: 7vw;
  }

  .features .content {
    display: flex;
    flex-direction: column-reverse;
  }
  

.features_Two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;  align-items: flex-end;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 8vw;
  border: 3px solid #f3d1bf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vw;
}
.card.light {
  height: 25vw;
  background-color: transparent;
  border: 3px solid #f3d1bf;
}

.icon-wrap {
  position: relative;
  width: 16vw;
  height: 16vw;
  margin-bottom: 3vw;
}

.icon-bg {
 
  border-radius: 50%;
  background-color: #f1766a;
  display: block;
}

.icon-front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7vw;
  height: 7vw;
}
}


